body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #5D9CEC, #48C9B0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 80%;
    padding: 12px 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    transition: border 0.3s ease;
}

.input-box i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #5D9CEC;
}

.input-box input:focus {
    border-color: #48C9B0;
}

.help-block {
    color: red; /* Text color for error messages */
    font-size: 0.875em; /* Slightly smaller text size */
    margin-top: 0.25em; /* Space above the error message */
    margin-bottom: 1em; /* Space below the error message */
    font-weight: bold; /* Make the text bold for emphasis */
}


.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn {
    background: #5D9CEC;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #48C9B0;
}

.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #5D9CEC;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}


/* Responsive Design */
@media (max-width: 480px) {
    .wrapper {
        width: 70%;
    }
}
