<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedifyCare - Register</title>
    <link rel="stylesheet" href="../../static/register.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <form method="POST" action="{{ url_for('.register') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <h1>Register</h1>
            
            <div class="input-box">
                {{ form.username(class_='form-control', placeholder='username') }}
                <span style="color: red; font-weight: bold;">*</span>
                <i class='bx bxs-user'></i>
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            
            <div class="input-box">
                {{ form.password(class_='form-control', placeholder='Password') }}
                <span style="color: red; font-weight: bold;">*</span>
                <i class='bx bxs-lock-alt' id="lockIcon" style="cursor: pointer;"></i>
                <i class='bx bx-show' id="togglePassword" style="display: none; cursor: pointer;"></i>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            
            <div class="input-box">
                {{ form.confirm(class_='form-control', placeholder='Re-enter Password') }}
                <span style="color: red; font-weight: bold;">*</span>
                <i class='bx bxs-lock-alt' id="lockIcon" style="cursor: pointer;"></i>
                <i class='bx bx-show' id="togglePassword" style="display: none; cursor: pointer;"></i>
                {% for error in form.confirm.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="input-box">
                {{ form.email(class_='form-control', placeholder='Email') }}
                <span style="color: red; font-weight: bold;">*</span>
                <i class='bx bxs-envelope'></i>
                {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            
            <div class="input-box">
                {{ form.role(class_='form-control') }}
                <span style="color: red; font-weight: bold;">*</span>
                {% for error in form.role.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            
            
            <div class="input-box">
                <br>
                <a href="{{ url_for('google.login') }}">Register/Login With Google</a>
            </div>
            <input class="button" type="submit" value="Register">
            <div class="register-link"></div>
                <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/register.js') }}" defer></script>
</body>
</html>