<!DOCTYPE html>                                                 <html lang="en">                                                <head>                                                              <meta charset="UTF-8">                                          <meta http-equiv="X-UA-Compatible" content="IE=edge">           <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedifyCare - Login</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
	 <form action="" method="post" novalidate>
             {{ form.hidden_tag() }}

             <div class="input-box">
                 {{ form.password.label }}<br>
                 {{ form.password }}
                 {% for error in form.password.errors %}
                     <p style="color: red;">{{ error }}</p>
                 {% endfor %}
            </div>

            <div class="input-box">
                {{ form.password2.label }}<br>
                {{ form.password2 }}
                {% for error in form.password2.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>

            <p>{{ form.submit() }}</p>

        </form>
    </div>
</body>
</head>
