<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedifyCare - Login</title>
    <link rel="stylesheet" href="../../static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="input-box">
            <input type="text" name="email" placeholder="Email" required>
            {% for error in form.email.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
    

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                 <p style="color: green;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <p>{{ form.submit() }}</p>
    </form>

    <p>Go back <a href="{{ url_for('main.index') }}">home</a>.</p>
   </div>
