<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <p>
        {{ form.password.label }}<br>
        {{ form.password }}
        {% for error in form.password.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
    </p>

    <p>
        {{ form.password2.label }}<br>
        {{ form.password2 }}
        {% for error in form.password2.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
</form>
