
{% extends "base.html" %}
{% block body %}

<div class="about-us-section container mt-5">
    <h2>About Us</h2>
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="../static/images/home1.jpg" class="img-fluid" alt="About Us Image">
        </div>
        <div class="col-md-6">
            <h3>Who We Are</h3>
            <p>At MedifyCare, we are dedicated to bridging the gap between patients and healthcare providers worldwide. Our mission is to create a seamless platform that connects individuals seeking quality healthcare with experienced doctors, ensuring everyone has access to the medical services they need.</p>
            <h5>Our Mission</h5>
            <p>To empower patients by providing easy access to healthcare professionals and enhancing the healthcare experience through technology, transparency, and compassion.</p>
            <h5>Our Vision</h5>
            <p>We envision a world where everyone, regardless of location, can connect with qualified healthcare providers, receive timely medical attention, and improve their overall well-being. Together, we strive to make quality healthcare accessible to all.</p>
        </div>
    </div>
</div>

<!-- Services Section -->

<div class="services-section container">
    <h2>Our Services</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="../static/images/service1.png" class="card-img-top" alt="Home Care Service">
                <div class="card-body">
                    <h3 class="card-title">Personalized Home Care Services</h3>
                    <p class="card-text">Quality healthcare in the comfort of your home</p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../static/images/service2.png" class="card-img-top" alt="Online Consultation">
                <div class="card-body">
			        <h3 class="card-title">Virtual Medical Consultations</h3>
                    <p class="card-text">Connect with a doctor via secure video chat</p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../static/images/service3.png" class="card-img-top" alt="Ask the Doctor">
                <div class="card-body">
                    <h3 class="card-title">24/7 Doctor Chat Support</h3>
                    <p class="card-text">Instant access to medical advice through chat</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Doctors Section -->
<div class="healthcare-professionals-section container mt-5">
    <h2 class="text-center mb-4">Meet Our Healthcare Professionals</h2>
    <div class="row">
        {% for doctor in doctors %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card rounded shadow-sm">
                <img src="../static/images/{{ doctor.image_filename if doctor.image_filename else ('doc1.png' if loop.index % 2 == 1 else 'doc2.jpg') }}" class="card-img-top" alt="Doctor picture" style="border-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title">{{ doctor.username }}</h5>
                    <p class="card-text">Medical Field: {{ doctor.specialty }}</p>
                    <p class="card-text">{{ doctor.bio}} </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
